*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatainer{
    margin: 0 auto;
    background-color: rgba(159, 159, 215, 0.787);
}
.heading_line{
    background-color: rgb(95, 42, 180);
    border: 2px solid rgb(135, 222, 195);
}
.heading_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
   text-align: center;
}
.heading_logo img{
    width: 90px;
    height: 50px;
}
.deading-nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.deading-nav-bar ul li a{
    padding: 20px;
    text-align: center;
    color: white;
}
.more-buuton a{
text-align: center;
align-items: center;
 justify-content: space-around;
 color: white;

}
a{
    text-decoration: none;
}
/* section2 style start */
.hedaing_top {
    margin-top: 28px;
    text-align: center;
}
.hedaing_top h2{
    color: rgb(197, 84, 4);
    letter-spacing: 2px;
    font-size: 30px;
}
.hedaing_top h4{
    color:black;
    letter-spacing: 1.8px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 18px;
}
.top_span_h4{
    color: purple;
}
/* top_style strat */
.head_top{
 margin-top: 50px;
}

.top_text_video{
width: 60%;
height: 400px;
background-color: red;
margin: 25px;
border-radius: 25px;
margin: 0 auto;
}
.top_text_video iframe{
width: 848px;
height: 368px;
margin-top: 17px;
border: 1px solid black;
border-radius: 20px;
}
/* poin */

.stats{
    margin-top: 55px;
}
.our_serices h1{
text-align: center;
font-size: 30px;
letter-spacing: 2px;
color:whitesmoke;
}
.our_serices{}
.our_button{
 text-align: center;
 padding: 20px;
}
.our_button button{
    width: 150px;
    height: 50px;
    margin: 25px;
    font-size: 20px;
    text-align: center;
   background-color: #001329;
  color: rgb(255, 255, 255);
  border-radius: 11px;
  padding: 10px 20px 20px 10px;
  align-items: center;
  opacity: 1.4s;
  letter-spacing: 2px;
}
.our_button button:hover{
    transition: 1.4s;
    background-color: red;
    color: black;
}
.stats_h2{
    text-align: center;
  margin-bottom: 30px;
  font-size: 27px;
    
}
section.stats h1 {
   
    font-weight: normal;
    color: #001329;
    marign: 0 aute;
   
    marign: 0 aute;
}

.stats-wrapper {
    display: flex;
    margin-bottom: 80px;
}

.single-state-item {
    flex: 1;
    text-align: center;
}
.cta-img img{
    width: 100%;
}


